.wth-55 { width: 55% }

.max-wth-33 { max-width: 33% }
.max-wth-650 { max-width: 650px }

.height-55 { height: 55% }

.m-left-5 { margin-left: 5px }
.m-right-5 { margin-right: 5px }
.m-right-15 { margin-right: 15px }

.m-top-25 { margin-top: 25px }
.m-top-125 { margin-top: 125px }

.alg-items-f-start { align-items: flex-start }

.white-space-pw { white-space: pre-wrap }

.border-radius-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

nav {
  background-color: #e7e7e7;
  ul { margin: 0 }
  li {
    min-height: 40px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  a {
    color: #666;
    padding: 14px;
    border-bottom: solid 2px transparent;
    &:hover {
      color: #666;
      text-decoration: none;
      background-color: #ddd;
    }
  }
} 

.selected { border-bottom: solid 2px #008CBA }

ul { 
  list-style-type: none;
  display: flex;
}

li { margin-right: 1rem }

.jobList-container {
  display: flex;
  flex-wrap: wrap
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .jobList-container { justify-content: center }
  .jobContainer { 
    flex-direction: column;
    margin-top: 15px;
    img {
      height: auto;
      width: 100%
    }
    .jobInfo { 
      max-width: initial;
      margin-right: 0;
      padding: 0 10px
    }
    .jobEditButtonContainer { 
      margin: 10px 10px 15px;
      button { width: 100% }
    }
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .jobList-container { justify-content: center }
  .jobContainer { 
    flex-direction: column;
    margin-top: 15px;
    img {
      height: auto;
      width: 100%
    }
    .jobInfo { 
      max-width: initial;
      margin-right: 0;
      padding: 0 10px
    }
    .jobEditButtonContainer { 
      margin: 10px 10px 15px;
      button { width: 100% }
    }
  }
}

.form {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 1em
}


.links {
  color: #343a40;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
