:root {
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea { font-family: inherit !important }