@import '../z-index';
@import '../common.scss';

@keyframes fadeOut {
  0% {
    opacity: 1;
		transform: translate3d(0, 0, 0)
  }
  10% {
    opacity: .9;
		transform: translate3d(2%, 0, 0)
  }
  100% {
    opacity: 0;
		transform: translate3d(-50%, 0, 0)
  }
}

.alert {
  max-width: 50%;
  min-width: 450px;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: map-get($zindex, error);
  animation: fadeIn 1s ease-in both
}

.fadeOut { animation: fadeOut 1s ease-in-out }