@import '../z-index';

.header {
  background-color: #292972;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  height: 65px;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: map-get($zindex, header)
}
