form {
  margin: 3rem auto;
  width: 40%
}

h3 { text-align: center }

fieldset {
  padding: 15px 15px;
  margin-top: 15px;
  background-color: rgba(0,0,0,0.03);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px lightgrey;
}

input, textarea { 
  font: .8em sans-serif;
  width: 300px;
  box-sizing: border-box
}

input[type="date"] { width: 150px }

textarea {
  vertical-align: top;
  resize: vertical;
  min-height: 50px
}
