.job-info-form {
  margin: 4rem auto;
  width: 50%;
  min-width: 500px;
}

fieldset {
  padding: 15px 15px;
  margin-top: 1rem;
  background-color: rgba(0,0,0,0.03);
  border: solid 1px lightgrey;
}

input, textarea { 
  font: .8em sans-serif;
  width: 300px;
  box-sizing: border-box
}

textarea {
  vertical-align: top;
  resize: vertical;
  min-height: 50px
}

.alert { 
  margin: 1rem auto;
  animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .job-info-form {
    margin: 2rem auto;
    width: 95%;
    min-width: auto;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .job-info-form {
    margin: 2rem auto;
    width: 95%;
    min-width: auto;
  } 
}