form {
  margin: 3rem auto;
  width: 40%
}

fieldset {
  padding: 15px 15px;
  margin-top: 1rem;
  background-color: rgba(0,0,0,0.03);
  border: solid 1px lightgrey;
}

input, textarea { 
  font: .8em sans-serif;
  width: 300px;
  box-sizing: border-box
}

textarea {
  vertical-align: top;
  resize: vertical;
  min-height: 50px
}

.alert { 
  margin: 1rem auto;
  animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}